{% extends 'Base.html' %}


{% block head %}
<title>Task manager</title>
{% endblock %}


{% block body %}
<header>
    
  <h1>
    <a id="Title1" href="{{ url_for('index') }}">Task manager</a>
  </h1>
  <div class="topnav">
    <h3>
      <ul>
        <li><a id="Dashboard" type="_blank" href="Dashboard.html">Dashboard</a></li>
        <li><a id="Project" type="_blank" href="Project.html">Project</a></li>
        <li class="Add"><a class="btn" id="NewTask" href="Project.html">+ New Task</a></li>
      </ul>
    </h3>
  </div>

  <hr>
</header>

<main>
  <div class="content">
    
    <h2 id="header1"> Tasks </h2>
    {% if tasks | length < 1%}
    <h3>There are no tasks... Create one here!</h3>
    {% else %}
    <table>
      <tr>
        <th> Task </th>
        <th> Added </th>
        <th> Actions </th>
      </tr>
      {% for task in tasks %}
        <tr>
            <td>{{task.content}}</td>
            <td>{{task.created.strftime("%d")}}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
            </td>
            <br>
            <td>
                <a href="/update/{{task.id}}">Edit</a>
            </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
    <form action="/", method="POST">
      <input type="text" name="content" id="content">
      <input type="submit" name="Add Task" id="btn_add">
    </form>

  </div>

</main>

<footer>

</footer>
{% endblock %}


