<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='Image/Icon.png') }}">
        <img id="Logo" src="{{ url_for('static', filename='Image/Logos.png') }}">
        <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <li>
            <label class="switch">
                <input id="darkToggle" type="checkbox">
                <span class="slider round"></span>
            </label>
        </li>
        

        <ul id="itemList">
            {% for expense in expenses %}
                <li>{{ expense.expense }} - ${{ expense.cost }}</li>
            {% endfor %}
        </ul>

        {% block head %}{% endblock %}  
    </head>
    <body>
        <!-- I need to remove some attributes from the parent page -->
        <div class="topnav">
            <h3>
                <ul>
                    <li><a class="nav-link" href="{{ url_for('index') }}">Dashboard</a></li>
                    <li><a class="nav-link" href="#">Transactions</a></li>
                    <li><a class="nav-link" href="#">Budgets & Goals</a></li>
                    <li><a class="nav-link" href="#">Reports</a></li>
                    <div class="search-container">
                        <input id="searchInput" placeholder="Search expenses...">
                    </div>
                    
                    <li class="Add"><a href="{{ url_for('Add') }}" class="btn">+</a></li>
                </ul>
            </h3>
        </div>
        {% block body %}{% endblock %}
        
    </body>

</html>
