<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('style', filename='style.css')}}">
        <title>Task Manager</title>
        <meta name="Descripition" content="This page is where all the info is. I am learning html">
        <a target="_blank" href="Main.html">
            <title> Task manger </title>
        </a>
        <link rel="icon" href="Logo2.png" type="image/x-icon">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        
    </body>
    </html>